<div id="set-name" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h3>Set Name</h3>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="handle">Name</label>
                <div class="controls">
                    <input id="handle" class="required" name="handle" size="12" type="text" minlength="4" maxlength="12">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary save" data-dismiss="modal">Set Name</a>
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    </div>
</div>
</body>
</html>
