<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>{{page_title}} - {{site_title}}</title>
<link rel="stylesheet" type="text/css" href="{{media_url}}/css/bootstrap/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="{{media_url}}/css/style.css" />
<script src="{{media_url}}/js/lib/jquery.min.js" type="text/javascript"></script>
<script src="{{media_url}}/js/lib/jquery.url.js" type="text/javascript"></script>
<script src="{{media_url}}/js/lib/mustache.js" type="text/javascript"></script>
<script src="{{media_url}}/js/lib/soundmanager2-jsmin.js" type="text/javascript"></script>
<script src="{{media_url}}/js/lib/bootstrap-transition.js" type="text/javascript"></script>
<script src="{{media_url}}/js/lib/bootstrap-modal.js" type="text/javascript"></script>
<script src="{{media_url}}/js/lib/bootstrap-buttons.js" type="text/javascript"></script>
<script src="/socket.io/socket.io.js" type="text/javascript"></script>
<script type="text/javascript">
    var connection = {
        'host': '{{host}}',
        'port': {{port}}
    }
    soundManager.debugMode = false;
    soundManager.debugFlash = false;
    soundManager.url = '{{media_url}}/swf/';
    soundManager.flashVersion = 9;
    soundManager.useFlashBlock = false;
    var SFX = {
        URL: '{{media_url}}/sfx/',
        VOLUME: 40,
        LIBRARY: {
            message: 'message.mp3',
            event: 'event.mp3'
        }
    }
    var user = '{{user}}'
</script>
<script src="{{media_url}}/js/sounds.js" type="text/javascript"></script>
<script src="{{media_url}}/js/client.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        var client = new Client.Client();
    });
</script>
{{{js_templates}}}
</head>
<body>
