<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>Login - {{site_title}}</title>
<link rel="stylesheet" type="text/css" href="{{media_url}}/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="{{media_url}}/css/bootstrap-custom.css" />
<link rel="stylesheet" type="text/css" href="{{media_url}}/css/style.css" />
<script src="{{media_url}}/js/jquery.min.js" type="text/javascript"></script>
<script src="{{media_url}}/js/jquery.url.js" type="text/javascript"></script>
<script src="{{media_url}}/js/mustache.js" type="text/javascript"></script>
<script src="{{media_url}}/js/bootstrap-transition.js" type="text/javascript"></script>
<script src="{{media_url}}/js/bootstrap-modal.js" type="text/javascript"></script>
<script src="{{media_url}}/js/bootstrap-buttons.js" type="text/javascript"></script>
</head>
<body>
    <h1>Login Bitches</h1>
    <form method="post">
        <input type="text" name="username"/>
        <input type="password" name="password" />
        <input type="hidden" name="next" value="{{next}}"/>
        <input type="submit" name="submit" value="Login"/>
    </form>
</body>
</html>
