<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>Login - {{site_title}}</title>
<link rel="stylesheet" type="text/css" href="{{media_url}}/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="{{media_url}}/css/bootstrap-custom.css" />
<link rel="stylesheet" type="text/css" href="{{media_url}}/css/style.css" />
<script src="{{media_url}}/js/jquery.min.js" type="text/javascript"></script>
<script src="{{media_url}}/js/jquery.url.js" type="text/javascript"></script>
<script src="{{media_url}}/js/mustache.js" type="text/javascript"></script>
<script src="{{media_url}}/js/bootstrap-transition.js" type="text/javascript"></script>
<script src="{{media_url}}/js/bootstrap-modal.js" type="text/javascript"></script>
<script src="{{media_url}}/js/bootstrap-buttons.js" type="text/javascript"></script>
<script>
$(document).ready(function(){
    $('a#register-link').click(function(){
        var registerDiv = $('#register')
        var authForm = $('#authForm')
        var link = $('#register-link')
        if (registerDiv.is(":visible")) {
            authForm.attr('action', '/login')
            registerDiv.slideUp()
            link.text('Already have an account?')
        } else {
            authForm.attr('action', '/register') 
            registerDiv.slideDown()
            link.text('New? Create an account?')
        }
    })
})
</script>
</head>
<body id="auth">
    <div id="auth">
        <h3>Let's Chat Bro!</h3>
        <form id="authForm" action="/login" method="post">
            <fieldset>
                <label for="username">Username</label>
                <input type="text" name="username"/>
            </fieldset>
            <fieldset>
                <label for="password">Password</label>
                <input type="password" name="password" />
            </fieldset>
            <input type="hidden" name="next" value="{{next}}"/>
            <div id="register">
                <fieldset>
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" name="confirm-password" />
                </fieldset> 
                <fieldset>
                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" />
                </fieldset>
                <fieldset>
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" />
                </fieldset>
            </div>
            <p><a id="register-link">New? Create an account</a></p>
            <input type="submit" name="submit" value="Login"/>
        </form>
    </div>
</body>
</html>
