var config = {
    db: 'letschatbro',              // Database
    templateRoot: 'template/',      // Folder containing the templates
    cookie_secret: 'KeyBoard Cat',  // Random secret string
    hostname: 'localhost',          // The Hostname being used by the app
    media_path: 'media',            // Location of the static files
    port: 5000                      // Port to host on
};

module.exports = config;
