var config = {
    db: 'letschatbro', // Mongo DB Name
    cookie_secret: 'KeyBoard Cat', // Random secret string
    hostname: '', // The hostname to listen on. Blank will listen for anything.
	port: 5000 // Port to bind to
	templateRoot: 'template/', // Folder containing the templates
    media_path: 'media', // Location of the static files
}

module.exports = config;
