var config = {

	// Server
	hostname: '', // Not required
	port: 5000,

	// Database
	db_host: 'localhost',
	db_port: 27017,
	db_name: 'letschatbro',
	db_user: '',
	db_password: '',

	// Security
	// Please change these!
	cookie_secret: 'KeyBoard Cat',
	password_salt: 'Hello. Yes, This is Dog',

	// Misc
	debug: false,
	media_url: '/media',
	uploads_dir: 'uploads',

	// Allowed file types
	allowed_file_types: [
		'image/jpeg',
		'image/png',
		'image/gif',
	]

}

module.exports = config;
