#
# Let's Chat Settings
#

server:
  port: 5000

xmpp:
  enable: true
  port: 5222
  host: 'localhost'
  confhost: 'conference.localhost'

database:
  uri: mongodb://localhost/letschat

secrets:
  cookie: secretsauce