#
# Let's Chat Settings
#
# See defaults.yml for all available options
#

env: production # development / production

http:
  enable: true
  host: 'localhost'
  port: 5000

https:
  enable: false
  port: 5001
  key: key.pem
  cert: certificate.pem

files:
  enable: true
  provider: local
  local:
    dir: uploads

xmpp:
  enable: false
  port: 5222
  domain: example.com

database:
  uri: mongodb://localhost/letschat

secrets:
  cookie: secretsauce

# -1 means using one server for every processors available
# undefined, absent, or 0 specification means monolithic regime
# otherwise servers_count is self commenting
cluster_regime:
  servers_count: 0 

auth:
  providers: [local]
  local:
    enableRegistration: true
