<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>{% block page_name %}{% endblock %} - Let's Chat Bro</title>
	<link rel="stylesheet" type="text/css" href="{{media_url}}/css/style.css" />
	<script src="{{media_url}}/js/lib/jquery.js" type="text/javascript"></script>
	<script src="{{media_url}}/js/lib/bootstrap.js" type="text/javascript"></script>
	<script src="{{media_url}}/js/lib/jquery.url.js" type="text/javascript"></script>
	<script src="{{media_url}}/js/lib/mustache.js" type="text/javascript"></script>
	<script src="/socket.io/socket.io.js" type="text/javascript"></script>
	{% block page_js %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% block content %}{% endblock %}
{% block page_assets %}{% endblock %}
</body>
</html>