{% extends "base.html" %}

{% block page_name %}Login{% endblock %}

{% block page_js %}
	<script src="{{media_url}}/js/lib/jquery.validate.js" type="text/javascript"></script>
	<script src="{{media_url}}/js/login.js" type="text/javascript"></script>
{% endblock %}

{% block body_class %}page-login{% endblock %}

{% block content %}
	<div id="login">
		<h1 id="logo">
			<img src="{{media_url}}/img/logo.png" alt="Let's Chat Bro" />
		</h1>
		<form class="login validate form-horizontal" action="/ajax/login" method="post">
			<input type="hidden" name="next" value="{{next}}" />
			<div class="modal-header">
				<h3>Let's get you signed in</h3>
			</div>
			<div class="modal-body">
				<div class="control-group">
					<label class="control-label">Email</label>
					<div class="controls">
						<input class="required email" name="email" type="text" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Password</label>
					<div class="controls">
						<input class="required" name="password" type="password" />
					</div>
				</div>
				<p class="response"></p>
			</div>
			<div class="modal-footer">
				<div class="pull-left"><a class="toggle-register" href="#">I need an account</a></div>
				<input type="submit" class="btn btn-success indicator" name="submit" value="Login">
			</div>
		</form>
		<form class="register validate form-horizontal" action="/ajax/register" method="post" style="display: none;">
			<input type="hidden" name="next" value="{{next}}" />
			<div class="modal-header">
				<h3>Let's get you signed up</h3>
			</div>
			<div class="modal-body">
				<div class="control-group">
					<label class="control-label">Email</label>
					<div class="controls">
						<input class="required email" name="email" type="text" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Password</label>
					<div class="controls">
						<input class="required" name="password" type="password" minlength="4" maxlength="24" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">First Name</label>
					<div class="controls">
						<input class="required alphanumeric" name="first-name" type="text" minlength="4" maxlength="24" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Last Name</label>
					<div class="controls">
						<input class="required alphanumeric" name="last-name" type="text" minlength="4" maxlength="24" />
					</div>
				</div>
				<p class="response"></p>
			</div>
			<div class="modal-footer">
				<div class="pull-left"><a class="toggle-register" href="#">I already I have account</a></div>
				<input type="submit" class="btn btn-success indicator" name="submit" value="Register">
			</div>
		</form>
	</div><!-- login end -->
{% endblock %}

{% block page_assets %}
{% endblock %}
