/*********************
 * LCB Styles
 *********************/
 
 @font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url('../font/pacifico.woff') format('woff');
}

@import 'vendor/animate/animate.less';
@import 'vendor/bootstrap/bootstrap.less';
@import 'vendor/font-awesome/font-awesome.less';
@import 'vendor/hat.less';

html,
body {
    background: #222;
}

.lc-love {
    color: #f22472;
    a& {
        &:hover {
            color: lighten(#f22472, 5%);
        }
    }
}

.btn-lc {
    background: rgba(0, 0, 0, 0.1);
    border: 3px rgb(242, 36, 114) solid;
    color: #f7f7f7;
    text-transform: uppercase;
    .transition(all .2s ease-in);
    &:hover {
        color: #fff;
        border-color: #fff;
    }
    &:focus,
    &:active {
        color: #f2f2f2;
        outline: none !important;
    }
}

.lc-section {
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    font-family: 'Source Sans Pro';
    color: #f2f2f2;
    padding: 60px 0;
    position: relative;
    @media (max-width: @screen-sm-max) {
        padding: 30px 0;
    }
    &:before,
    &:after {
        .size(100%);
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
    }
    .container {
        position: relative;
        z-index: 1;
    }
}

.lc-section-alt {
    background: #fff;
    color: #555;
}

.lc-section-overlayed {
    &:before {
        background: rgba(0, 0, 0, .1);
    }
    &:after {
        background: rgba(0, 0, 0, .2);
    }
}

.lc-section-header {
    margin-bottom: 50px;
    @media (max-width: @screen-sm-max) {
        margin-bottom: 30px;
    }
}

.lc-section-heading {
    font-weight: 400;
    font-size: 50px;
    text-transform: uppercase;
    @media (max-width: @screen-xs-max) {
        font-size: 40px;
    }
}

.lc-section-subheading {
    font-size: 26px;
    font-weight: 300;
    @media (max-width: @screen-xs-max) {
        font-size: 20px;
    }
}

.lc-section-content {
    font-size: 16px;
    text-align: left;
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 20px;
    }
    ul {
        margin-bottom: 20px;
    }
    pre {
        padding: 20px;
        border: 1px #eee solid;
        border-radius: 2px;
    }
}

.lc-section-content-epic {
    font-size: 24px;
    font-weight: 300;
    h4 {
        font-size: 30px;
        font-weight: 300;
    }
    p {
        margin-bottom: 20px;
    }
}

.lc-header { 
    background-image: url('../img/photos/plane.jpg');
    &:before {
        background: rgba(242, 36, 114, .3);
    }
}

.lc-header-logo {
    font-family: Pacifico;
    font-size: 85px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    @media (max-width: @screen-md-max) {
        font-size: 60px;
    }
    @media (max-width: @screen-xs-max) {
        font-size: 50px;
    }
}

.lc-header-source {
    margin-top: 10px;
}

.lc-header-source-link {
    color: #ccc;
    font-weight: 300;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.lc-header-subheading {
    font-weight: 300;
    text-transform: uppercase;
    @media (max-width: @screen-xs-max) {
        font-size: 20px;
    }
}

.lc-header-featurette {
    margin: 30px 0;
    @media (max-width: @screen-sm-max) {
        margin: 20px 0;
    }
    img {
        width: 70%;
        margin: 0 auto;
        @media screen and (max-height: 700px) {
            width: 40%;
        }
        @media screen and (max-height: 900px) {
            width: 60%;
        }
        @media (max-width: @screen-sm-max) {
            width: 100%;
        }
    }
}

.lc-social {
    background: #eee;
    padding: 15px 0 10px 0;
    text-align: center;
}

.lc-features,
.lc-feature {
    vertical-align: top;
    display: block;
}

.lc-features {
    text-align: center;
    padding: 0;
}

.lc-feature {
    width: 20%;
    text-align: center;
    display: inline-block;
    @media (max-width: @screen-md-max) {
        width: 25%;
    }
    @media (max-width: @screen-xs-max) {
        width: 40%;
    }
}

.lc-feature-box {
    padding: 20px;
}

.lc-feature-icon {
    .square(100px);
    line-height: 100px;
    font-size: 30px;
    vertical-align: middle;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 2px #fff solid;
    border-radius: 100%;
    @media (max-width: @screen-xs-max) {
        .square(70px);
        line-height: 70px;
        font-size: 20px;
    }
}

.lc-feature-name {
    font-weight: 300;
    @media (max-width: @screen-xs-max) {
        font-size: 12px;
    }
}

.lc-footer { 
    background-image: url('../img/photos/streak.jpg');
    &:before {
        background: rgba(0, 0, 0, .8);
    }
}

.lc-footer-powered {
    margin: 0;
    margin-top: 40px;
}

.lc-people,
.lc-person {
    vertical-align: top;
    display: block;
}

.lc-people {
    text-align: center;
    padding: 0;
}

.lc-person {
    text-align: center;
    display: inline-block;
    @media (max-width: @screen-xs-max) {
        width: 40%;
    }
}

.lc-person-box {
    color: #eee;
    display: block;
    padding: 20px;
    .transition(color .2s ease-in);
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.lc-person-avatar {
    margin: 0 auto;
    margin-bottom: 8px;
    padding: 3px;
    border: 2px transparent solid;
    display: block;
    border-radius: 100%;
    .transition(border .2s ease-in);
    .lc-person-box:hover & {
        border-color: #f22472;
    }
}

.lc-person-name {
    text-transform: uppercase;
    font-weight: 300;
}
