/*********************
 * LCB Styles
 *********************/
 
 @font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url('../font/pacifico.woff') format('woff');
}

@import 'vendor/animate/animate.less';
@import 'vendor/bootstrap/bootstrap.less';
@import 'vendor/font-awesome/font-awesome.less';
@import 'vendor/hat.less';

html,
body {
    background: #222;
    height: 100%;
}

.btn-lc {
    background: none;
    border: 3px rgb(242, 36, 114) solid;
    text-transform: uppercase;
    .transition(all .2s ease-in);
    &:hover {
        color: #fff;
        border-color: #fff;
    }
    &:focus,
    &:active {
        color: #f2f2f2;
        outline: none !important;
    }
}

.lc-header {
    background-image: url('../img/photos/plane.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    text-align: center;
    font-family: 'Source Sans Pro';
    color: #f2f2f2;
    position: relative;
    &:before,
    &:after {
        .size(100%);
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
    }
    &:before {
        background: rgba(242, 36, 114, .3);
    }
    &:after {
        background: url('../img/overlay.png');
    }
    .container {
        padding: 40px 20px;
        position: relative;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
    }
}

.lc-section {
    height: 100%;
}

.lc-header-logo {
    font-family: Pacifico;
    font-size: 85px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    @media (max-width: @screen-md-max) {
        font-size: 60px;
    }
    @media (max-width: @screen-xs-max) {
        font-size: 50px;
    }
}

.lc-header-subheading {
    font-weight: 300;
    text-transform: uppercase;
    @media (max-width: @screen-xs-max) {
        font-size: 20px;
    }
}

.lc-header-featurette {
    margin: 40px 0;
    img {
        width: 70%;
        margin: 0 auto;
    }
    @media (max-width: @screen-xs-max) {
        width: 100%;
    }
}