<script type="text/x-handlebars-template" id="template-room-browser">
    <header class="lcb-rooms-browser-header">
        <h2 class="lcb-rooms-browser-heading">
            All Rooms
        </h2>
        <div class="lcb-rooms-browser-filter">
            <label class="lcb-rooms-browser-filter-label" for="lcb-rooms-browser-filter-input">
                <i class="fa fa-search"></i>
            </label>
            <input id="lcb-rooms-browser-filter-input" class="lcb-rooms-browser-filter-input" type="search" autofocus />
        </div>
        <a class="btn btn-success lcb-rooms-browser-new" data-toggle="modal" data-target="#lcb-add-room" href="#!/rooms/add">
            <i class="fa fa-plus"></i>
        </a>
    </header>
    <ul class="lcb-rooms-list"></ul>
</script>
