<script type="text/x-handlebars-template" id="template-menu">
    <div class="dropdown">
        <a class="lcb-account-button dropdown-toggle" data-toggle="dropdown" href="3">
            <img class="lcb-account-button-avatar lcb-avatar" src="https://www.gravatar.com/avatar/<$ account.avatar $>?s=50" />
            <span class="lcb-account-button-name"><$ account.displayName $></span>
            <span class="lcb-account-button-username">@<$ account.username $></span>
            <i class="lcb-account-button-chevron fa fa-chevron-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a data-toggle="modal" href="#lcb-profile">
                    <i class="fa fa-fw fa-edit"></i> Edit Profile
                </a>
            </li>
            <li>
                <a data-toggle="modal" href="#lcb-account">
                    <i class="fa fa-fw fa-cogs"></i> Account Settings
                </a>
            </li>
            <li>
                <a data-toggle="modal" href="#lcb-notifications">
                    <i class="fa fa-fw fa-bell"></i> Notifications
                </a>
            </li>
            <% if settings.xmpp.enable %>
                <li>
                    <a data-toggle="modal" href="#lcb-xmpp">
                        <i class="fa fa-fw fa-comments"></i> XMPP/Jabber
                    </a>
                </li>
            <% endif %>
            <li>
                <a data-toggle="modal" href="#lcb-tokens">
                    <i class="fa fa-fw fa-lock"></i> Auth tokens
                </a>
            </li>
            <li class="divider"></li>
            <li><a href="./logout"><i class="fa fa-fw fa-sign-out"></i> Logout</a></li>
        </ul>
    </div>
</script>
