<script type="text/x-handlebars-template" id="template-message">
    <li class="lcb-message {{#if mentioned}}lcb-message-mentioned{{/if}} {{#if fragment}}lcb-message-fragment{{/if}} {{#if own}}lcb-message-own{{/if}} {{#if fragment}}lcb-message-paste{{/if}}" data-owner="{{owner.id}}">
        {{#unless fragment}}
            <img class="lcb-message-avatar lcb-avatar lcb-room-poke" src="https://www.gravatar.com/avatar/{{owner.avatar}}?s=30" />
        {{/unless}}
        <div class="lcb-message-meta">
            {{#unless fragment}}
                <span class="lcb-message-name">
                    <span class="lcb-room-poke">
                        <span class="lcb-message-displayname">
                            {{owner.displayName}}
                        </span>
                        <span class="lcb-message-username">
                            @{{owner.username}}
                        </span>
                    </span>
                </span>
                <time class="lcb-message-time" title="{{posted}}"></time>
            {{/unless}}
            <div class="lcb-message-text">
                {{#unless paste}}
                    {{text}}
                {{else}}
                    <pre>{{text}}</pre>
                {{/unless}}
            </div>
        </div>
    </li>
</script>
