<script type="text/x-handlebars-template" id="template-status">
    <span class="lcb-status-indicator lcb-status-indicator-error lcb-status-connection" data-status="disconnected" style="display: none;">
        <i class="fa fa-plug"></i> Disconnected
    </span>
    <span class="lcb-status-indicator lcb-status-connection" data-status="connected" style="display: none;">
        <i class="fa fa-refresh"></i> Connected
    </span>
    <span class="lcb-status-indicator lcb-status-connection" style="display: none;">
        <i class="fa fa-bell-slash"></i>
    </span>
</script>
