<script type="text/x-handlebars-template" id="template-upload">
    <div class="lcb-upload-item">
        <div id="template" class="lcb-upload-item-box">
            <div class="lcb-upload-item-preview">
                <img data-dz-thumbnail />
                <span class="lcb-upload-item-size" data-dz-size></span>
            </div>
            <div class="progress lcb-upload-item-progress">
                <div class="progress-bar lcb-upload-item-progress-bar" role="progressbar" style="width: 0%;" data-dz-uploadprogress></div>
            </div>
            <div class="lcb-upload-item-meta">
                <span class="lcb-upload-item-name" data-dz-name></span>
                <span class="cb-upload-item-error error text-danger" data-dz-errormessage></span>
            </div>
        </div>
    </div>
</script>
