<script type="text/x-handlebars-template" id="template-user">
    <li class="lcb-room-sidebar-item lcb-room-sidebar-user" data-id="{{id}}">
        <img class="lcb-avatar lcb-room-sidebar-user-avatar lcb-room-poke" src="https://www.gravatar.com/avatar/{{avatar}}?s=30" />
        <div class="lcb-room-sidebar-user-meta lcb-room-poke">
            <span class="lcb-room-sidebar-user-name">
                {{displayName}}
            </span>
            <span class="lcb-room-sidebar-user-username">
                @{{username}}
            </span>
        </div>
    </li>
</script>
