/*********************
 * Login
 *********************/
 
.page-login {
    background: #222 url('../img/pattern.png');
    h1 {
        margin-top: 0;
    }
    #logo {
        background: #fff url('../img/grid_noise.png');
        text-align: center;
        padding: 50px 0;
        padding-bottom: 150px;
        img {
            width: 400px;
            max-width: 400px;
            height: 77px;
        }
    }
    legend {
        line-height: 100%;
        padding-bottom: 10px;
    }
    input[type="text"],
    input[type="password"] {
        font-size: 14px;
        height: auto;
        padding: 10px;
    }
    .links {
        margin-top: 12px;
    }
    .well {
        background: #fff;
        width: 400px;
        margin: 0 auto;
        margin-top: -130px;
        .box-shadow(0 0 20px 3px rgba(0,0,0,.1));
    }
}
