{% raw %}
    <script type="text/x-handlebars-template" id="template-room-browser-item">
        <li class="lcb-rooms-list-item" data-id="{{id}}">
            <a class="lcb-rooms-list-item-name" href="#!/room/{{id}}">{{name}}</a>
            <div class="lcb-rooms-list-item-description">{{description}}</div>
        </li>
    </script>
    <script type="text/x-handlebars-template" id="template-room-tab">
        <li class="lcb-tab lcb-tab-room" data-id="{{id}}">
            <a href="#!/room/{{id}}">
                <span class="lcb-tab-title">{{name}}</span>
                <span class="lcb-tab-alerts">
                    <span class="lcb-tab-alerts-mentions"></span>
                    <span class="lcb-tab-alerts-total"></span>
                </span>
                <span class="lcb-tab-close">&times;</span>
            </a>
        </li>
    </script>
    <script type="text/x-handlebars-template" id="template-room">
        <div class="lcb-room lcb-pane lcb-pane-{{id}}" data-id="{{id}}" style="display: none;">
            <div class="lcb-room-chat ">
                <div class="lcb-room-header">
                    <div class="lcb-room-meta">
                        <h2 class="lcb-room-heading" placeholder="Room Name...">{{name}}</h2>
                        <div class="lcb-room-description" placeholder="Description...">
                            <p>{{description}}</p>
                        </div>
                    </div>
                    <div class="lcb-room-header-actions">
                        <a class="lcb-room-toggle-sidebar" href="#">
                            <i class="fa fa-arrow-circle-o-right"></i>
                        </a>
                    </div>
                </div><!-- lcb-room-header end -->
                <ul class="lcb-messages">
                </ul>
                <form class="lcb-entry">
                    <textarea class="lcb-entry-input" placeholder="Got something to say?"></textarea>
                    <button type="submit" class="btn btn-info lcb-entry-button">Send</button>
                </form>
            </div><!-- lcb-chat end -->
            <div class="lcb-room-sidebar">
                <div class="lcb-room-sidebar-group lcb-room-sidebar-users">
                    <header class="lcb-room-sidebar-header">
                        <h3 class="lcb-room-sidebar-heading">
                            <i class="fa fa-users"></i> Who's Here (<span class="lcb-room-sidebar-users-count"></span>)
                        </h3>
                    </header>
                    <ul class="lcb-room-sidebar-list"></ul>
                </div>
                <div class="lcb-room-sidebar-group">
                    <header class="lcb-room-sidebar-header">
                        <h3 class="lcb-room-sidebar-heading">
                            <i class="fa fa-file-text"></i> Files
                        </h3>
                    </header>
                    <ul class="lcb-room-sidebar-list"></ul>
                </div>
            </div><!-- lcb-room-sidebar end -->
        </div><!-- lcb-room end -->
    </script>
    <script type="text/x-handlebars-template" id="template-message">
        <li class="lcb-message {{#if mentioned}}lcb-message-mentioned{{/if}} {{#if fragment}}lcb-message-fragment{{/if}} {{#if own}}lcb-message-own{{/if}} {{#if fragment}}lcb-message-paste{{/if}}">
            {{#unless fragment}}
                <img class="lcb-message-avatar lcb-avatar" src="https://www.gravatar.com/avatar/{{ avatar }}?s=30" />
            {{/unless}}
            <div class="lcb-message-meta">
                {{#unless fragment}}
                    <span class="lcb-message-name">{{owner.screenName}}</span>
                    <time class="lcb-message-time">{{time}}</time>
                {{/unless}}
                <div class="lcb-message-text">
                    {{#unless paste}}
                        {{text}}
                    {{else}}
                        <pre>{{text}}</pre>
                    {{/unless}}
                </div>
            </div>
        </li>
    </script>
    <script type="text/x-handlebars-template" id="template-user">
        <li class="lcb-room-sidebar-item lcb-room-sidebar-user" data-id="{{id}}">
            <img class="lcb-avatar lcb-room-sidebar-user-avatar" src="https://www.gravatar.com/avatar/{{avatar}}?s=30" />
            <div class="lcb-room-sidebar-user-meta">
                <span class="lcb-room-sidebar-user-name">
                    {{screenName}}
                </span>
            </div>
        </li>
    </script>
{% endraw %}
