{% raw %}
    <script type="text/x-handlebars-template" id="template-room-browser-item">
        <li class="lcb-rooms-list-item" data-id="{{id}}">
            <a class="lcb-rooms-list-item-name" href="#!/room/{{id}}">{{name}}</a>
            <div class="lcb-rooms-list-item-description">{{description}}</div>
        </li>
    </script>
    <script type="text/x-handlebars-template" id="template-room-tab">
        <li class="lcb-tab" data-id="{{id}}">
            <a href="#!/room/{{id}}">
                <span class="lcb-tab-title">{{name}}</span>
                <span class="lcb-tab-alerts">
                    <span class="lcb-tab-alerts-mentions"></span>
                    <span class="lcb-tab-alerts-total"></span>
                </span>
                <span class="lcb-tab-close">&times;</span>
            </a>
        </li>
    </script>
    <script type="text/x-handlebars-template" id="template-room">
        <div class="lcb-room lcb-pane" data-id="{{id}}">
            <div class="lcb-room-chat">
                <ul class="lcb-messages">
                    <li class="lcb-message">
                        <img class="lcb-message-avatar" src="https://www.gravatar.com/avatar/2de4d847ef9524b0b5058c68f0826b2e?s=30" />
                        <div class="lcb-message-meta">
                            <span class="lcb-message-name">Jarl Stefansson</span>
                            <time class="lcb-message-time">last Friday at 3:51 PM</time>
                            <div class="lcb-message-text">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur
                            </div>
                        </div>
                    </li>
                    <li class="lcb-message">
                        <img class="lcb-message-avatar" src="https://www.gravatar.com/avatar/49e001e5a211aa60c2195c5567a49bfd?s=30" />
                        <div class="lcb-message-meta">
                            <span class="lcb-message-name">Hanif Virani</span>
                            <time class="lcb-message-time">last Friday at 3:51 PM</time>
                            <div class="lcb-message-text">
                                ui dolorem ipsum quia dolor sit amet, consectetur
                                totam rem aperiam
                            </div>
                        </div>
                    </li>
                    <li class="lcb-message">
                        <img class="lcb-message-avatar" src="https://www.gravatar.com/avatar/bfa5bfae39ce7bdd1e0f385c961d4afa?s=30" />
                        <div class="lcb-message-meta">
                            <span class="lcb-message-name">Ramanan</span>
                            <time class="lcb-message-time">last Friday at 3:51 PM</time>
                            <div class="lcb-message-text">WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW</div>
                        </div>
                    </li>
                    <li class="lcb-message lcb-message-fragment">
                        <div class="lcb-message-meta">
                            <div class="lcb-message-text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui</div>
                        </div>
                    </li>
                    <li class="lcb-message lcb-message-fragment">
                        <div class="lcb-message-meta">
                            <div class="lcb-message-text">Ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur</div>
                        </div>
                    </li>
                </ul>
                <form class="lcb-entry">
                    <textarea class="lcb-entry-input" placeholder="Got something to say?"></textarea>
                    <button type="submit" class="btn btn-info lcb-entry-button" data-click="send()">Send</button>
                </form>
            </div><!-- lcb-chat end -->
            <div class="lcb-room-sidebar">
                <div class="lcb-room-meta">
                    <h2 class="lcb-room-heading" contenteditable>{{name}}</h2>
                    <div class="lcb-room-description" contenteditable>
                        <p>{{description}}</p>
                    </div>
                </div>
                <div class="lcb-room-actions btn-groups">
                </div>
                <div class="lcb-item-list">
                    <h3 class="lcb-item-list-heading">Users</h3>
                    <ul class="lcb-users"></ul>
                </div>
                <div class="lcb-room-options">
                    <a href="!#/rooms/delete/{{id}}" class="lcb-remove-room">
                        Delete Room?
                    </a>
                </div>
            </div><!-- lcb-room-sidebar end -->
        </div><!-- lcb-room end -->
    </script>
    <script type="text/x-handlebars-template" id="template-message">
        <li class="lcb-message {{#if fragment}}lcb-message-fragment{{/if}} {{#if own}}lcb-message-own{{/if}} {{#if fragment}}lcb-message-paste{{/if}}">
            {{#unless fragment}}
                <img class="lcb-message-avatar" src="https://www.gravatar.com/avatar/{{ avatar }}?s=30" />
            {{/unless}}
            <div class="lcb-message-meta">
                {{#unless fragment}}
                    <span class="lcb-message-name">{{owner.displayName}}</span>
                    <time class="lcb-message-time">{{time}}</time>
                {{/unless}}
                <div class="lcb-message-text">
                    {{#unless paste}}
                        {{text}}
                    {{else}}
                        <pre>{{text}}</pre>
                    {{/unless}}
                </div>
            </div>
        </li>
    </script>
    <script type="text/x-handlebars-template" id="template-user">
        <li class="lcb-user" data-id="{{id}}">
            <img class="lcb-user-avatar" src="https://www.gravatar.com/avatar/{{avatar}}?s=30" />
            <div class="lcb-user-meta">
                {{displayName}}
            </div>
        </li>
    </script>
{% endraw %}
