// General

.modal form {
	margin-bottom: 0;
}

.bg-atomic-noise {
	background: #222 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAFVBMVEUqKiopKSkoKCgjIyMuLi4kJCQtLS0dJckpAAAAO0lEQVR42iXLAQoAUQhCQSvr/kfe910jHIikElsl5qVFa1iE5f0Pom/CNZdbNM6756lQ41NInMfuFPgAHVEAlGk4lvIAAAAASUVORK5CYII=');
}

body {
	.bg-atomic-noise();
}

*::-webkit-scrollbar {
	.size(10px, 10px);
}

*::-webkit-scrollbar-track {
	.border-radius(5px);
	.box-shadow(inset 0 0 6px rgba(0,0,0,0.3));
}

*::-webkit-scrollbar-thumb {
	background-color: #aaa;
	.border-radius(5px);
	.box-shadow(inset 0 0 6px rgba(0,0,0,0.5));
}

.avatar {
	.border-radius(3px);
}

// Layout

#client {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	.horizontal-box();
}

#sidebar {
	.box-flex(0);
}

#content,
#chat {
	.box-flex(1);
	.vertical-box();
}

.messages {
	.box-flex(1);
	overflow: auto;
}

.entry  {
	.box-flex(0);
	.horizontal-box();
}

// Entry

#entry {
	background: #fff url('../img/grid_noise.png');
	padding: 10px;
	border-top: 1px #ccc solid;
	.border-radius( 0 0 5px 5px);
	textarea {
		min-height: 70px;
		margin: 0;
		display: block;
		.box-flex(1);
	}
	.btn {
		margin-left: 5px;
	}
}

// Sidebar

#sidebar {
	width: 230px;
	color: #fff;
	margin: 20px;
	margin-left: 5px;
	position: relative;
	z-index: 999;
	.buttons {
		float: left;
	}
	p, h1 {
		color: #fff;
	}
	.item-list {
		margin-top: 10px;
		border: 1px #444 solid;
		.border-radius(5px);
		h3 {
			font-size: 14px;
			font-weight: normal;
		}
		.top {
			background: #222 url('../img/header.png') repeat-x;
			padding: 3px 5px;
			h3 {
				display: inline;
			}
			.btn {
				padding: 2px 6px;
				float: right;
			}
		}
		ul {
			max-height: 170px;
			background: #f2f2f2;
			color: #555;
			margin: 0;
			overflow-y: auto;
			.border-radius(5px);
		}
		li {
			margin: 5px;
			margin-bottom: 0;
			display: block;
			word-wrap: break-word;
			.clearfix();
			&:last-child {
				border-bottom: 0;
				margin-bottom: 5px;
			}
		}
		.avatar {
			.size(35px, 35px);
			margin-right: 5px;
		}
	}
}

// Files

#files {
	form, input {
		margin:0;
	}
	.toggle-upload {
		.icon-remove {
			display: none;
		}
		&.open {
			.icon-plus {
				display: none;
			}
			.icon-remove {
				display: inline-block;
			}
		}
	}
	.upload {
		background: #222;
		border-top: 1px #000 solid;
	}
	form {
		padding: 5px;
		border-top: 1px #333 solid;
	}
	.file {
		.icon {
			margin-top: 2px;
			float: left;
		}
		.meta {
			line-height: 130%;
			margin-left: 20px;
			a {
				display: block;
			}
			span {
				color: #777;
				font-size: 11px;
			}
		}
	}
}

// Status

#status { //TODO: Fix
	background: #444;
	font-size: 12px;
	padding: 5px 8px;
	position: fixed;
	bottom: 15px;
	right: 15px;
	.border-radius(4px);
	.box-shadow(inset 0 0 3px #000);
	.message {
		margin-right: 10px;
		float: left;
	}
	.ping {
		text-align: right;
		float: right;
	}
}

// Chat

#chat {
	margin: 15px;
	.border-radius(5px);
	.messages {
		background: #fff;
		margin: 0;
		.border-radius(5px 5px 0 0);
	}
	.message {
		border-bottom: 1px #eee solid;
		padding: 7px;
		display: block;
		.clearfix;
		&.own {
			background-color: #fcffd8;
		}
		&:last-child {
			border-bottom: none;
		}
		.text {
			word-wrap: break-word;
		}
		.side {
			margin-right: 7px;
			float: left;
		}
		.meta {
			margin-left: 40px;
		}
		.top {
			overflow: hidden;
		}
		.name {
			font-weight: bold;
			color: #aaa;
			float: left;
		}
		time {
			color: #bbb;
			float: right;
		}
		.avatar {
			width: 30px;
			height: 30px;
			margin-top: 5px;
		}
		.thumbnail {
			background-color: #fff;
			margin-top: 5px;
			display: inline-block;
			overflow: hidden;
			img {
				height: 250px;
				max-width: 350px;
			}
		}
	}
	.event {
		background: #f9ffb5;
		padding: 7px;
		border-bottom: 1px #eee solid;
	}
}

#client {
	top: 41px;
	border-top: 1px #444 solid;
}

header {
	background: #222 url('../img/header.png');
	border-bottom: 1px #000 solid;
	height: 40px;
	.clearfix;
	.tabs {
		margin: 0;
		padding: 11px 0 0 25px;
		float: left;
		display: block;
		.text-overflow();
		.badge {
			padding: 1px 7px;
			.border-radius(7px);
		}
		.tab {
			.text-overflow();
			display: inline-block;
			overflow: visible;
			a {
				.bg-atomic-noise();
				height: 30px;
				line-height: 30px;
				color: #fff;
				padding: 0 20px;
				border: 1px #444 solid;
				border-bottom: none;
				display: block;
				.border-radius(4px 4px 0 0);
				.opacity(60);
				&:hover {
					text-decoration: none;
					.opacity(100);
				}
			}
			margin-right: 5px;
		}
		.selected a {
			position: relative;
			z-index: 999;
			.opacity(100);
			.box-shadow(0 0 8px #111);
		}
	}
	.user {
		height: 40px;
		line-height: 40px;
		float: right;
		padding: 0 10px;
		border-left: 1px #111 solid;
		position: relative;
		.dropdown-menu {
			margin: 5px 5px 0 0;
		}
		.caret {
			border-top-color: #fff;
			border-bottom-color: #fff;
			margin: 0;
			margin-top: -2px;
			vertical-align: middle;
		}
		a {
			display: block;
			&:hover {
				.name {
					color: #fff;
				}
				text-decoration: none;
			}
			.name {
				color: #bbb;
			}
		}
		img {
			margin-top: -4px;
			margin-right: 5px;
			.size(28px, 28px);
			vertical-align: middle;
		}
	}
}