body {
	background: #fff;
}

.clear {
	overflow: hidden;
}

.full-span-side {
	width: 230px;
	height: 100%;
	margin: 0;
	position: fixed;
	z-index: 999;
}

.full-span-main {
	width: 100%;
	margin: 0;
	padding-left: 230px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
}

textarea {
	outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
}