body {
	.bg-dark();
}

textarea {
	outline: none;
    .box-sizing(border-box);
}

header {
	background: #222 url('../img/header.png');
	border-bottom: 1px #000 solid;
    height: 42px;
    .clearfix;
	.tabs {
        width: 70%;
        line-height: 0;
		padding: 11px 0 0 25px;
        float: left;
        .clearfix();
        .text-overflow();
        overflow: visible;
        .box-sizing(border-box);
        ul {
            padding: 0;
            margin: 0;
            display: block;
        }
		.tab {
            width: 20%;
            max-width: 200px;
            display: inline-block;
			overflow: visible;
            &.fixed {
                width: 50px;
                text-align: center;
            }
			a {
				.bg-dark();
				height: 30px;
				line-height: 30px;
				color: #fff;
				padding: 0 10px;
				border: 1px #444 solid;
				border-bottom: none;
				display: block;
                position: relative;
                .text-overflow();
				.border-radius(4px 4px 0 0);
				.opacity(60);
				&:hover {
					text-decoration: none;
					.opacity(100);
                    .close {
                        .opacity(100);
                    }
				}
			}
            .close {
                height: 30px;
                line-height: 30px;
                color: #aaa;
                font-weight: normal;
            }
		}
        .selected {
            .bg-dark();
            position: relative;
            z-index: 999;
            padding-bottom: 2px;
            margin-bottom: -2px;
            .border-radius(5px 5px 0 0);
        }
		.selected a {
			position: relative;
			z-index: 999;
            .box-shadow(0 0 5px #222);
			.opacity(100);
		}
		.badge {
			padding: 1px 7px;
            position: absolute;
            top: 7px;
            right: 6px;
			.border-radius(7px);
		}
	}
	.user {
        background: #222 url('../img/header.png');
        max-width: 30%;
		height: 42px;
		line-height: 42px;
		float: right;
		padding: 0 10px;
		border-left: 1px #111 solid;
		position: relative;
        .box-sizing(border-box);
		.dropdown {
			margin: 5px 5px 0 0;
		}
		.caret {
			border-top-color: #fff;
			border-bottom-color: #fff;
			margin: 0;
			margin-top: -2px;
			vertical-align: middle;
		}
		a {
            color: #fff;
			display: block;
            .text-overflow();
			&:hover {
				.name {
					color: #fff;
				}
				text-decoration: none;
			}
			.name {
				color: #bbb;
			}
		}
		img {
			.square(32px);
			margin-right: 5px;
			vertical-align: middle;
		}
        .dropdown-menu {
            margin-right: 5px;
            &, a {
                color: #333;
            }
            a:hover {
                color: #fff;
            }
        }
	}
}

.modal-body {
	.response {
		.alert;
		text-align: center;
		display: none;
		margin-bottom: 0;
		&.error {
			.alert-error;
		}
		&.success {
			.alert-success;
		}
	}
}