.page-login {
	background: #222 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAFVBMVEUqKiopKSkoKCgjIyMuLi4kJCQtLS0dJckpAAAAO0lEQVR42iXLAQoAUQhCQSvr/kfe910jHIikElsl5qVFa1iE5f0Pom/CNZdbNM6756lQ41NInMfuFPgAHVEAlGk4lvIAAAAASUVORK5CYII=');
	#logo {
		text-align: center;
		margin-top: 50px;
	}
	form {
		background: #fff;
		width: 500px;
		display: block;
		margin: 20px auto;
		border-radius: 7px;
		.message {
			display: none;
		}
	}
	.register {
		display: none;
	}
}