/* Login Page */
body#auth{
    background: #333;
}

div#auth {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    background: #222 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAFVBMVEUqKiopKSkoKCgjIyMuLi4kJCQtLS0dJckpAAAAO0lEQVR42iXLAQoAUQhCQSvr/kfe910jHIikElsl5qVFa1iE5f0Pom/CNZdbNM6756lQ41NInMfuFPgAHVEAlGk4lvIAAAAASUVORK5CYII=');
    color: #fff ;
    text-align: center;
    border-radius: 15px;
}

div#auth h1,h2,h3,h4,h5,h6,label {
    color: #fff
}

div#register {
    display: none;
}
