/*********************
 * Messages
 *********************/

.messages {
	background: #fff;
}

.message {
	border-top: 1px #eee solid;
	padding: 7px;
	display: block;
	overflow: hidden;
    position: relative;
	&.own {
		background-color: #fcffd8;
	}
    &.mentioned {
        &:before {
            background: #f22472;
            width: 3px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            content: ' ';
        }
    }
	&:first-child {
		border-top: none;
	}
	.text {
		word-wrap: break-word;
	}
    pre {
        margin-bottom: 3px;
    }
	.side {
		margin-right: 7px;
		float: left;
	}
	.meta {
		margin-left: 40px;
	}
	.top {
		overflow: hidden;
        margin-bottom: 5px;
	}
	.name {
		font-weight: bold;
		color: #aaa;
		float: left;
	}
	time {
		color: #bbb;
		float: right;
	}
	.avatar {
		width: 30px;
		height: 30px;
		margin-top: 5px;
	}
	.thumbnail {
		background-color: #fff;
		margin-top: 5px;
		display: inline-block;
		overflow: hidden;
		img {
			height: 250px;
			max-width: 350px;
		}
	}
    &.fragment {
        padding-top: 0;
        border-top: none;
        .avatar,
        .top {
            display: none;
        }
    }
}