<div id="lcb-account" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="./account/settings" method="post"
                class="validate form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        <i class="icon-cogs"></i> <$ __('Account Settings') $>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-6"><$ __('Username') $></label>
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                <input type="text" name="username" required
                                    class="lcb-room-slug form-control"
                                    value="<$ account.username $>" >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-6"><$ __('Email') $></label>
                        <div class="col-sm-11">
                            <input type="text" name="email" required
                                class="required email form-control"
                                value="<$ account.email $>" />
                        </div>
                    </div>
                    <% if account.local %>
                        <div class="form-group">
                            <label class="control-label col-sm-6">
                                <$ __('New Password') $>
                            </label>
                            <div class="col-sm-11">
                                <input type="password" name="new-password"
                                    class="form-control"
                                    minlength="4" maxlength="64" autocomplete="off"
                                    data-clear="true" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-6">
                                <$ __('Confirm New Password') $>
                            </label>
                            <div class="col-sm-11">
                                <input type="password" name="confirm-password"
                                class="form-control"
                                minlength="4" maxlength="64" autocomplete="off"/>
                            </div>
                        </div>
                    <% endif %>
                    <div class="form-group">
                        <label class="control-label col-sm-6">
                            <$ __('Current Password') $> <small><$ __('Required') $></small>
                        </label>
                        <div class="col-sm-11">
                            <input type="password" name="current-password"
                            class="form-control"
                            minlength="4" maxlength="64" required autocomplete="off"/>
                        </div>
                    </div>
                    <p class="alert response" style="display: none;"></p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info indicator" name="submit"><i class="icon-ok"></i> <$ __('Save') $></button>
                </div>
            </form>
        </div>
    </div>
</div>
