<div id="lcb-notifications" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-bell"></i> <$ __('Notifications') $></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <button name="desktop-notifications" class="btn btn-info" style="text-align: left">
                        <span class="enabled">
                            <$ __('Desktop Notifications are') $>
                            <strong><$ __('enabled') $></strong>
                            <br /><small><$ __('Use your browser settings to disable them') $></small>
                        </span>
                        <span class="disabled"><$ __('Enable Desktop Notifications') $></span>
                        <span class="blocked">
                            <$ __('Desktop Notifications are') $>
                            <strong><$ __('blocked') $></strong>
                            <br /><small><$ __('Please check your browser settings') $></small>
                        </span>
                    </button>
                </div>
            </div>
         </div>
    </div>
</div>
