<div id="lcb-password" class="modal fade" data-backdrop=false>
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" class="lcb-password">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><$ __('Password required') $></h4>
                </div>
                <div class="modal-body">
                    <p>
                        <$ __('Room %s requires a password.', '<strong><span class="lcb-room-password-name"></span></strong>') | safe $>
                    </p>
                    <div class="form-group">
                        <label for="lcb-room-password"><$ __('Password') $></label>
                        <input type="password"
                            class="lcb-room-password-required form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><$ __('Cancel') $></button>
                    <button type="submit" class="btn btn-primary"><$ __('Enter') $></button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
