<div id="lcb-premium-modal" class="modal fade" data-backdrop=false>
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" class="lcb-password">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Let's Chat Premium</h4>
                </div>
                <div class="modal-body">
                    <img class="img-responsive" src="./media/img/premium.jpg" />
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="https://www.youtube.com/watch?v=izGwDsrQ1eQ">Send Money</a>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
