<div id="lcb-tokens" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-lock"></i> Authentication tokens</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">

                <p>Auth tokens are used to access the Let's Chat REST API.</p>
                    <button class="generate-token btn btn-info" style="text-align: left">Generate token</button>
                    <button class="revoke-token btn btn-danger" style="text-align: left">Revoke token</button>
                </div>
                <div class="generated-token" style="display: none">
                    <div class="alert alert-success" role="alert">
                        Your generated token is below. It will not be shown again.
                    </div>
                    <textarea class="token form-control"></textarea>
                </div>

            </div>
        </div>
    </div>
</div>
