<div id="lcb-xmpp" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-bell"></i> XMPP/Jabber Connection Details</h4>
            </div>
            <div class="modal-body">
                <p>Username: {{ account.username }}@{{ settings.xmpp.host }}</p>
                <p>Port: {{ settings.xmpp.port}}</p>
            </div>
        </div>
    </div>
</div>
