
/* Let's Chat (MIT) -> Chat */

#lcb-app-mount,
.lcb-app
    width: 100%
    height: 100%

.lcb-app
    @include display(flex)

.lcb-sidebar
    background: #21252b
    width: 200px
    min-width: 200px
    color: #fff
    @include flex(0)

.lcb-connection
    position: absolute
    bottom: 10px
    left: 10px

.lcb-main
    overflow-y: auto
    @include display(flex)
    @include flex(1)
