<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Let's Chat</title>
        <meta name="description" content="" />
        <link rel="icon" type="image/png" href="media/favicon.ico" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
        {% block css %}{% endblock %}
        <link href="media/css/style.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="media/js/vendor/jquery/jquery.js"></script>
        <script type="text/javascript" src="media/js/vendor/jquery-validate/jquery.validate.js"></script>
        <script type="text/javascript" src="media/js/vendor/underscore/underscore.js"></script>
        <script type="text/javascript" src="media/js/vendor/backbone/backbone.js"></script>
        <script type="text/javascript" src="media/js/vendor/backbone.keys/backbone.keys.js"></script>
        <script type="text/javascript" src="media/js/vendor/handlebars/handlebars.js"></script>
        <script type="text/javascript" src="media/js/vendor/bootstrap/bootstrap.js"></script>
        <script type="text/javascript" src="media/js/vendor/store.js/store.js"></script>
        <script type="text/javascript" src="media/js/vendor/Sortable/Sortable.js"></script>
        <script type="text/javascript" src="media/js/vendor/notifications/desktop-notifications.js"></script>
        <script type="text/javascript" src="media/js/common.js"></script>
        {% block js %}{% endblock %}
    </head>
    <body class="{% block class %}{% endblock %}" {% block attributes %}{% endblock %}>
        {% block body %}{% endblock %}
        {% block templates %}{% endblock %}
    </body>
</html>
