<% extends 'base.html' %>

<% block css %><% endblock %>

<% block js %>
<$ 'chat' | js | safe $>
<% endblock %>

<% block templates %>
    <% include 'includes/js/status.html' %>
    <% include 'includes/js/menu.html' %>
    <% include 'includes/js/chat.html' %>
    <% include 'includes/js/room.html' %>
    <% include 'includes/js/compose.html' %>
    <% include 'includes/js/user.html' %>
    <% include 'includes/js/users.html' %>
    <% include 'includes/js/file.html' %>
    <% include 'includes/js/files.html' %>
    <% include 'includes/js/message.html' %>
    <% include 'includes/js/tabs.html' %>
    <% include 'includes/js/tab.html' %>
    <% include 'includes/js/browser.html' %>
    <% include 'includes/js/browser-item.html' %>
    <% include 'includes/js/browser-item-user.html' %>
    <% include 'includes/js/upload.html' %>
<% endblock %>

<% block body %>
    <div id="lcb-client" class="lcb-client">
    </div><!-- lcb-client end -->
    <% include 'includes/modals/add-room.html' %>
    <% include 'includes/modals/password.html' %>
    <% include 'includes/modals/notifications.html' %>
    <% include 'includes/modals/profile.html' %>
    <% include 'includes/modals/account.html' %>
    <% include 'includes/modals/xmpp.html' %>
    <% include 'includes/modals/tokens.html' %>
    <% include 'includes/modals/upload.html' %>
    <% include 'includes/modals/giphy.html' %>
<% endblock %>
