{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="media/js/vendor/at/jquery.atwho.css" />
    <link rel="stylesheet" type="text/css" href="media/js/highlight/default.css" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="media/js/highlight/highlight.pack.js"></script>
    <script type="text/javascript" src="socket.io/socket.io.js"></script>
    <script type="text/javascript" src="media/js/vendor/notifications/desktop-notifications.js"></script>
    <script type="text/javascript" src="media/js/vendor/moment/moment.js"></script>
    <script type="text/javascript" src="media/js/vendor/at/jquery.caret.js"></script>
    <script type="text/javascript" src="media/js/vendor/at/jquery.atwho.js"></script>
    <script type="text/javascript" src="media/js/vendor/backbone.keys/backbone.keys.js"></script>
    <script type="text/javascript" src="media/js/util/message.js"></script>
    <script type="text/javascript" src="media/js/models.js"></script>
    <script type="text/javascript" src="media/js/views/notifications.js"></script>
    <script type="text/javascript" src="media/js/views/browser.js"></script>
    <script type="text/javascript" src="media/js/views/room.js"></script>
    <script type="text/javascript" src="media/js/views/status.js"></script>
    <script type="text/javascript" src="media/js/views/window.js"></script>
    <script type="text/javascript" src="media/js/views/panes.js"></script>
    <script type="text/javascript" src="media/js/views/client.js"></script>
    <script type="text/javascript" src="media/js/client.js"></script>
    <script type="text/javascript">
        window.client = new window.LCB.Client();
        $(function() {
           window.client.start();
        });
    </script>
{% endblock %}

{% block templates %}
    {% include 'includes/js-templates.html' %}
{% endblock %}

{% block body %}
    <div id="lcb-client" class="lcb-client">
        <div class="lcb-header">
            <button type="button" class="btn lcb-header-toggle" onclick="$('.lcb-client').toggleClass('lcb-sidebar-opened')">
                <i class="fa fa-bars"></i>
            </button>
            <div class="lcb-header-logo">Let's Chat</div>
        </div>
        <section class="lcb-sidebar">
            <div class="dropdown">
                <a class="lcb-account-button dropdown-toggle" data-toggle="dropdown" href="3">
                    <img class="lcb-account-button-avatar lcb-avatar" src="https://www.gravatar.com/avatar/{{ account.avatar }}?s=50" />
                    <span class="lcb-account-button-name">{{ account.displayName }}</span>
                    <span class="lcb-account-button-username">@{{ account.username }}</span>
                    <i class="lcb-account-button-chevron fa fa-chevron-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a data-toggle="modal" href="#lcb-profile"><i class="fa fa-edit"></i> Edit Profile</a></li>
                    <li><a data-toggle="modal" href="#lcb-account"><i class="fa fa-cogs"></i> Account Settings</a></li>
                    <li><a data-toggle="modal" href="#lcb-notifications"><i class="fa fa-bell"></i> Notifications</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                </ul>
            </div>
            <div class="lcb-status-indicators">
                <span class="lcb-status-indicator lcb-status-indicator-error lcb-status-connection" data-status="disconnected" style="display: none;">
                    <i class="fa fa-plug"></i> Disconnected
                </span>
                <span class="lcb-status-indicator lcb-status-connection" data-status="connected" style="display: none;">
                    <i class="fa fa-refresh"></i> Connected
                </span>
                <span class="lcb-status-indicator lcb-status-connection" style="display: none;">
                    <i class="fa fa-bell-slash"></i>
                </span>
            </div>
            <ul class="lcb-tabs">
                <li data-id="list" class="lcb-tab lcb-tab-home">
                    <a href="#!/">
                        <i class="fa fa-th"></i>
                    </a>
                </li>
            </ul>
        </section>
        <section class="lcb-panes">
            <div class="lcb-rooms-browser lcb-pane" data-id="list" style="display: none;">
                <header class="lcb-rooms-browser-header">
                    <h2 class="lcb-rooms-browser-heading">
                        All Rooms
                    </h2>
                    <a class="btn btn-success lcb-rooms-browser-new" data-toggle="modal" data-target="#lcb-add-room" href="#!/rooms/add">
                        <i class="fa fa-plus"></i>
                    </a>
                </header>
                <ul class="lcb-rooms-list"></ul>
                {% include 'includes/modals/add-room.html' %}
            </div>
        </section>
        <div class="lcb-loading lcb-client-loading">
            <img class="lcb-loading-indicator" src="media/img/loading.svg" alt="Loading..." />
        </div>
        {% include 'includes/modals/notifications.html' %}
        {% include 'includes/modals/profile.html' %}
        {% include 'includes/modals/account.html' %}
    </div><!-- lcb-client end -->
{% endblock %}
