{% raw %}
<div id="js-templates">
    <script id="js-tmpl-tab" type="text/html">
        <li class="tab" data-id="{{ id }}">
            <a class="room" href="#!/room/{{ id }}" title="{{ name }}" data-id="{{ id }}">
                <span class="title text">{{ name }}</span>
                <span class="badge" style="display: none;"></span>
                <span class="close">&times;</span>
            </a>
        </li>
    </script>
    <script id="js-tmpl-message" type="text/html">
        <li class="message {{#fragment}} fragment{{/fragment}} {{#own}} own{{/own}} {{#mentioned}} mentioned{{/mentioned}} {{#paste}} paste{{/paste}}" data-id="{{id}}" data-owner="{{owner}}" data-posted="{{posted}}" data-room="{{room}}">
            <div class="side">
                <img class="avatar" src="https://www.gravatar.com/avatar/{{avatar}}?s=50" />
            </div>
            <div class="meta">
                <div class="top">
                    <div class="name">{{name}}</div>
                    <time>{{ time }}</time>
                </div>
                <div class="text">
                    {{^paste}}{{ text }}{{/paste}} 
                    {{#paste}}<pre>{{ text }}</pre>{{/paste}}
                </div>
            </div>
        </li>
    </script>
    <script id="js-tmpl-user-item" type="text/html">
        <li class="user {{#status}}has-status{{/status}}" data-id="{{id}}" data-uid="{{uid}}">
            <img class="avatar" src="https://www.gravatar.com/avatar/{{avatar}}?s=50" />
            <span class="name">{{name}}</span>
            <span class="status" title="{{status}}">{{status}}</span>
        </li>
    </script>
    <script id="js-tmpl-file-item" type="text/html">
        <li class="file" data-id="{{id}}" data-uploaded="{{uploaded}}" data-size="{{size}}">
            <a href="{{url}}" class="icon"><i class="icon-file-alt"></i></a>
            <div class="meta">
                <a class="name" href="{{url}}" target="_blank">{{name}}</a>
                <span class="owner">{{owner}}</span> &middot; <span class="size">{{size}}kb</span>
            </div>
        </li>
    </script>
    <script id="js-tmpl-room-list-item" type="text/html">
        <li class="room" data-id="{{ id }}" data-last-active="{{ lastActive }}">
            <a class="name" href="#!/room/{{ id }}">{{ name }}</a>
            <p class="description">{{ description }}</p>
            <ul class="users"></ul>
            <div class="last-active">
                <i class="icon-time icon-white"></i>
                <span class="value">{{ lastActive }}</span>
            </div>
        </li>
    </script>
    <script id="js-tmpl-room-list-user" type="text/html">
        <li class="user" data-id="{{ id }}" data-uid="{{ uid }}">
            <img src="https://www.gravatar.com/avatar/{{avatar}}?s=50" alt="{{ name }}" title="{{ name }}" />
        </li>
    </script>
    <script id="js-tmpl-room" type="text/html">
        <div class="main">
            <div class="chat">
                <ul class="messages file-drop-zone"></ul>
                <div class="entry file-drop-zone">
                    <textarea type="text" name="talk" class="file-paste-zone"></textarea>
                    <div class="buttons">
                        <button class="send btn btn-info">Send</button>
                    </div>
                </div>
            </div><!-- chat end -->
        </div><!-- content end -->
        <div class="sidebar">
            <div class="inner">
                <div class="meta">
                    <h1 class="room-name">{{ name }}</h1>
                    <p class="description">{{ description }}</p>
                </div>
                <div class="clear">
                    <div class="btn-group buttons">
                        <a class="btn btn-default btn-sm" title="View Transcript" href="/transcripts/{{ id }}/" target="_blank">
                            <i class="icon-comment"></i>
                        </a>
                        <button class="btn btn-default btn-sm show-edit-room" title="Edit Room">
                            <i class="icon-pencil"></i>
                        </button>
                    </div>
                </div>
                <div class="item-list">
                    <div class="top">
                        <h3>
                            <i class="icon-white icon-user"></i>
                            <span class="text">Who's here</span>
                            (<span class="count"></span>)
                        </h3>
                    </div>
                    <ul class="user-list"></ul>
                </div>
                <div class="files item-list file-drop-zone">
                    <div class="top">
                        <h3>
                            <i class="icon-white icon-film"></i> <span class="text">Media</span>
                            <img class="throbber"  src="/media/img/llama.gif" style="display: none;" />
                        </h3>
                        <a class="toggle-upload btn btn-dmb btn-sm" href="#"><i class="icon-plus icon-white"></i><i class="icon-remove icon-white"></i></a>
                    </div>
                    <div class="upload" style="display: none;">
                        <form action="/ajax/upload-file">
                            <input type="file" name="files[]" data-url="/ajax/upload-file" multiple />
                        </form>
                    </div>
                    <ul class="file-list"></ul>
                </div>
                <div class="status">
                    <span class="message"></span>
                    <span class="ping"></span>
                </div>
            </div><!-- inner end -->
        </div><!-- sidebar end -->
        <div class="edit-room modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="validate form-horizontal" action="" method="post">
                        <div class="modal-header">
                            <button type="button" class="close hide-edit-room" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Edit Room</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Name</label>
                                <div class="col-sm-7">
                                    <input class="required name form-control" name="name" type="text" value="{{ name }}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Description</label>
                                <div class="col-sm-7">
                                    <textarea class="form-control" name="description">{{ description }}</textarea>
                                </div>
                            </div>
                            <p class="response" style="display: none;"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success pull-right">
                                <i class="icon-ok"></i> Save
                            </button>
                            <a class="delete-room btn btn-danger pull-left" tabindex="-1"><i class="icon-remove icon-white"></i> Delete Room</a>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- edit room end -->
        <div class="modal-backdrop hide"></div>
    </script>
</div>
{% endraw %}
