{% raw %}
<div id="js-templates">
    <script id="js-tmpl-tab" type="text/html">
        <li class="tab" data-id="{{ id }}">
            <a class="room" href="#!/room/{{ id }}" title="{{ name }}" data-id="{{ id }}">
                <span class="text">{{ name }}</span>
                <span class="badge badge-important" style="display: none;"></span>
                <span class="close">&times;</span>
            </a>
        </li>
    </script>
    <script id="js-tmpl-message" type="text/html">
        <li class="message {{#fragment}}fragment{{/fragment}}" data-id="{{id}}" data-owner="{{owner}}" data-posted="{{posted}}" data-room="{{room}}">
            <div class="side">
                <img class="avatar" src="http://www.gravatar.com/avatar/{{avatar}}?s=50" />
            </div>
            <div class="meta">
                <div class="top">
                    <div class="name">{{name}}</div>
                    <time>{{ time }}</time>
                </div>
                <div class="text">{{ text }}</div>
            </div>
        </li>
    </script>
    <script id="js-tmpl-user-item" type="text/html">
        <li class="user" data-id="{{id}}" data-uid="{{uid}}">
            <img class="avatar" src="http://www.gravatar.com/avatar/{{avatar}}?s=50" />
            <span class="name">{{name}}</span>
        </li>
    </script>
    <script id="js-tmpl-file-item" type="text/html">
        <li class="file" data-id="{{uid}}" data-uploaded="{{uploaded}}" data-size="{{size}}">
            <a href="{{url}}" class="icon"><i class="icon-file"></i></a>
            <div class="meta">
                <a class="name" href="{{url}}" target="_blank">{{name}}</a>
                <span class="owner">via {{owner}}</span> &middot; <span class="size">{{size}}kb</span>
            </div>
        </li>
    </script>
    <script id="js-tmpl-room-list-item" type="text/html">
        <li class="room" data-id="{{ id }}">
            <a class="name" href="#!/room/{{ id }}">{{ name }}</a>
            <p class="description">{{ description }}</p>
            <ul class="users"></ul>
        </li>
    </script>
    <script id="js-tmpl-room-list-user" type="text/html">
        <li class="user" data-id="{{ id }}">
            <img src="http://www.gravatar.com/avatar/{{avatar}}?s=50" alt="{{ name }}" title="{{ name }}" />
        </li>
    </script>
    <script id="js-tmpl-room" type="text/html">
        <div class="view-inner">
            <div class="main">
                <div class="chat">
                    <ul class="messages"></ul>
                    <div class="entry">
                        <textarea type="text" name="talk"></textarea>
                        <div class="buttons">
                            <button class="send btn btn-success">Send</button>
                        </div>
                    </div>
                </div><!-- chat end -->
            </div><!-- content end -->
            <div class="sidebar">
                <div class="inner">
                    <div class="meta">
                        <h1 class="name">{{ name }}</h1>
                        <p class="description">{{ description }}</p>
                    </div>
                    <div class="clear">
                        <div class="btn-group buttons">
                            <a class="btn" title="View Transcript" href="#">
                                <i class="icon-comment"></i>
                            </a>
                            <button class="btn show-edit-room" title="Edit Room">
                                <i class="icon-pencil"></i>
                            </button>
                        </div>
                    </div>
                    <div class="item-list">
                        <div class="top">
                            <h3><i class="icon-white icon-user"></i> <span class="text">Who's here</span></h3>
                        </div>
                        <ul class="user-list"></ul>
                    </div>
                    <div class="files item-list">
                        <div class="top">
                            <h3>
                                <i class="icon-white icon-film"></i> <span class="text">Media</span>
                            </h3>
                            <a class="toggle-upload btn btn-dmb" href="#"><i class="icon-plus icon-white"></i><i class="icon-remove icon-white"></i></a>
                        </div>
                        <div class="upload hide">
                            <form>
                                <input type="file" name="file" data-url="/ajax/upload-file" />
                            </form>
                        </div>
                        <ul class="file-list"></ul>
                    </div>
                    <div class="status">
                        <span class="message"></span>
                        <span class="ping"></span>
                    </div>
                </div><!-- inner end -->
            </div><!-- sidebar end -->
            <div class="edit-room modal hide fade">
                <form class="validate form-horizontal" action="" method="post">
                    <div class="modal-header">
                        <button type="button" class="close hide-edit-room" aria-hidden="true">&times;</button>
                        <h3>Edit Room</h3>
                    </div>
                    <div class="modal-body">
                        <div class="control-group">
                            <label class="control-label">Name</label>
                            <div class="controls">
                                <input class="required name" name="name" type="text" value="{{ name }}" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Description</label>
                            <div class="controls">
                                <textarea name="description">{{ description }}</textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button class="delete-room btn btn-danger"><i class="icon-remove icon-white"></i> Delete Room</button>
                            </div>
                        </div>
                        <p class="response"></p>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" name="submit" value="Save">
                    </div>
                </form>
            </div><!-- edit room end -->
            <div class="modal-backdrop hide"></div>
        </div><!-- view inner end -->
    </script>
</div>
{% endraw %}