<div id="modals">
    <div id="create-room" class="modal hide fade">
        <form class="validate form-horizontal" action="" method="post">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>New Room</h3>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label">Name</label>
                    <div class="controls">
                        <input class="required name" name="name" type="text" value="" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Description</label>
                    <div class="controls">
                        <textarea name="description"></textarea>
                    </div>
                </div>
                <p class="response"></p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-info create" name="submit"><i class="icon-plus"></i> Create Room</button>
            </div>
        </form>
    </div>
    <div id="edit-account" class="modal hide fade">
        <form class="validate form-horizontal" action="/ajax/account" method="post">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3><i class="icon-cogs"></i> Account Settings</h3>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label">Email</label>
                    <div class="controls">
                        <input class="required email" name="email" type="text" value="{{ user_email }}" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Current Password</label>
                    <div class="controls">
                        <input class="required" name="password" type="password" data-clear="true" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">New Password</label>
                    <div class="controls">
                        <input id="account-modal-password" name="new-password" type="password" minlength="4" maxlength="24" data-clear="true" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Confirm New Password</label>
                    <div class="controls">
                        <input name="confirm-password" type="password" data-equal-to="#account-modal-password" data-clear="true" minlength="4" maxlength="24" />
                    </div>
                </div>
                <p class="alert response"></p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-info indicator" name="submit"><i class="icon-ok"></i> Save</button>
            </div>
        </form>
    </div>
    <div id="edit-profile" class="modal hide fade">
        <form class="validate form-horizontal" action="/ajax/profile" method="post">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3><i class="icon-edit"></i> Profile Settings</h3>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label">Display Name</label>
                    <div class="controls">
                        <input class="required" name="display-name" type="text" value="{{ user_displayname }}" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">First Name</label>
                    <div class="controls">
                        <input class="required" name="first-name" type="text" value="{{ user_firstname }}" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Last Name</label>
                    <div class="controls">
                        <input class="required" name="last-name" type="text" value="{{ user_lastname }}" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Status</label>
                    <div class="controls">
                        <textarea name="status">{{ user_status }}</textarea>
                    </div>
                </div>
                <p class="alert response"></p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-info indicator" name="submit"><i class="icon-ok"></i> Save</button>
            </div>
        </form>
    </div>
    <div id="experimental-features" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3><i class="icon-beaker"></i> Experimental Features</h3>
        </div>
        <div class="modal-body">
            <div class="controls">
                <label class="checkbox">
                    <button name="desktop-notifications" class="btn">
                        <span class="enabled">Desktop Notifications are Enabled!</span>
                        <span class="disabled">Enable Desktop Notifications (Webkit only for now)</span>
                        <span class="blocked">Enable Desktop Have Been Blocked</span>
                    </button>
                </label>
            </div>
        </div>
    </div>
</div>