<div id="modals">
    <div id="create-room" class="modal hide">
        <form class="validate form-horizontal" action="/ajax/add-room" method="post">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>New Room</h3>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label">Name</label>
                    <div class="controls">
                        <input class="required name" name="name" type="text" value="" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Description</label>
                    <div class="controls">
                        <textarea name="description"></textarea>
                    </div>
                </div>
                <p class="response"></p>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-success create" name="submit" value="Create Room">
            </div>
        </form>
    </div>
    <div id="edit-room" class="modal hide fade">
        <form class="validate form-horizontal" action="/ajax/edit-room" method="post">
            <div class="modal-header">
                <h3>Edit Room</h3>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label">Name</label>
                    <div class="controls">
                        <input class="required name" name="name" type="text" value="" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Description</label>
                    <div class="controls">
                        <textarea name="description"></textarea>
                    </div>
                </div>
                <p class="response"></p>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-success" name="submit" value="Save">
            </div>
        </form>
    </div>
    <div id="edit-account" class="modal hide fade">
        <form class="validate form-horizontal" action="/ajax/update-account" method="post">
            <div class="modal-header">
                <h3>Account Settings</h3>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label">Email</label>
                    <div class="controls">
                        <input class="required email" name="email" type="text" value="{{ user_email }}" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Current Password</label>
                    <div class="controls">
                        <input class="required" name="current-password" type="password" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">New Password</label>
                    <div class="controls">
                        <input name="password" type="new-password" />
                    </div>
                </div>
                <p class="response"></p>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-success" name="submit" value="Save">
            </div>
        </form>
    </div>
    <div id="edit-profile" class="modal hide fade">
        <form class="validate form-horizontal" action="/ajax/update-profile" method="post">
            <div class="modal-header">
                <h3>Profile Settings</h3>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label">Display Name</label>
                    <div class="controls">
                        <input class="required" name="display-name" type="text" value="{{ user_displayname }}" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">First Name</label>
                    <div class="controls">
                        <input class="required" name="first-name" type="text" value="{{ user_firstname }}" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Last Name</label>
                    <div class="controls">
                        <input class="required" name="last-name" type="text" value="{{ user_lastname }}" />
                    </div>
                </div>
                <p class="response"></p>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-success" name="submit" value="Save">
            </div>
        </form>
    </div>
    <div id="set-name" class="modal hide fade">
        <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal">&times;</a>
            <h3>Set Name</h3>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="handle">Name</label>
                    <div class="controls">
                        <input id="handle" class="required" name="handle" size="12" type="text" minlength="4" maxlength="12" value="{{user_displayname}}" >
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary save" data-dismiss="modal">Set Name</a>
            <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        </div>
    </div>
</div>