<div id="modals">
    <div id="create-room" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="validate form-horizontal" action="" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">New Room</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Name</label>
                            <div class="col-sm-7">
                                <input class="required name form-control" name="name" type="text" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Description</label>
                            <div class="col-sm-7">
                                <textarea class="form-control" name="description"></textarea>
                            </div>
                        </div>
                        <p class="response"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info create" name="submit"><i class="icon-plus"></i> Create Room</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- create room end -->
    <div id="edit-account" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="validate form-horizontal" action="/ajax/account" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><i class="icon-cogs"></i> Account Settings</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Email</label>
                            <div class="col-sm-7">
                                <input class="required email form-control" name="email" type="text" value="{{ user_email }}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Current Password</label>
                            <div class="col-sm-7">
                                <input class="required form-control" name="password" type="password" data-clear="true" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">New Password</label>
                            <div class="col-sm-7">
                                <input class="form-control" id="account-modal-password" name="new-password" type="password" minlength="4" maxlength="24" data-clear="true" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Confirm New Password</label>
                            <div class="col-sm-7">
                                <input class="form-control" name="confirm-password" type="password" data-equal-to="#account-modal-password" data-clear="true" minlength="4" maxlength="24" />
                            </div>
                        </div>
                        <p class="alert response"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info indicator" name="submit"><i class="icon-ok"></i> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- edit-account end -->
    <div id="edit-profile" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="validate form-horizontal" action="/ajax/profile" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><i class="icon-edit"></i> Profile Settings</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Display Name</label>
                            <div class="col-sm-7">
                                <input class="required form-control" name="display-name" type="text" value="{{ user_displayname }}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">First Name</label>
                            <div class="col-sm-7">
                                <input class="required form-control" name="first-name" type="text" value="{{ user_firstname }}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Last Name</label>
                            <div class="col-sm-7">
                                <input class="required form-control" name="last-name" type="text" value="{{ user_lastname }}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Status</label>
                            <div class="col-sm-7">
                                <textarea class="form-control" name="status">{{ user_status }}</textarea>
                            </div>
                        </div>
                        <p class="alert response"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info indicator" name="submit"><i class="icon-ok"></i> Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- edit profile end -->
    <div id="experimental-features" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-beaker"></i> Experimental Features</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="checkbox">
                            <button name="desktop-notifications" class="btn btn-info" style="text-align: left">
                                <span class="enabled">
                                    Desktop Notifications are <strong>enabled</strong>
                                    <br /><small>Use your browser settings to disable them</small>
                                </span>
                                <span class="disabled">Enable Desktop Notifications</span>
                                <span class="blocked">
                                    Desktops Notifications are <strong>blocked</strong>
                                    <br /><small>Please check your browser settings</small>
                                </span>
                            </button>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- experimental end -->
</div>