<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Let's Chat &mdash; Self-hosted chat for small teams</title>
        <meta name="description" content="Self-hosted chat for small teams." />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script type="text/javascript" src="assets/js/vendor/jquery/jquery.js"></script>
        <link rel="icon" type="image/png" href="assets/favicon.ico" />
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="assets/css/style.css" />
    </head>
    <body>
        <header class="lc-header">
            <div class="container">
                <h1 class="lc-header-logo">Let's Chat</h1>
                <h2 class="lc-header-subheading">Self-hosted chat <br class="visible-xs" /> for small teams.</h2>
                <div class="lc-header-featurette">
                    <img class="img-responsive" src="assets/img/devices.png" />
                </div>
                <button class="btn btn-lc btn-lg">Let's Roll</button>
            </div>
        </header>
        <section class="lc-section">
            <div class="container">
                <header class="lc-section-header">
                    <h2 class="lc-section-heading">Features and Stuff</h2>
                    <h3 class="lc-section-subheading"></h3>
                </header>
                <ul class="lc-features">
                    {% for feature in site.data.features %}
                        <li class="lc-feature">
                            <div class="lc-feature-box">
                                <i class="lc-feature-icon fa fa-{{ feature.icon }}"></i>
                                <span class="lc-feature-name">{{ feature.name }}</span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="lc-people lc-section hide">
            <div class="container">
                <h2>From T.O. With Love</h2>
                <h3>What.</h3>
            </div>
        </section>
        <footer class="lc-footer">
        </footer>
    </body>
</html>
