<!doctype html>
{% include wot.html %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Let's Chat &mdash; Self-hosted chat for small teams</title>
        <meta name="description" content="Self-hosted chat for small teams." />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" href="assets/favicon.ico" />
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="assets/css/style.css" />
        <script type="text/javascript" src="assets/js/vendor/jquery/jquery.js"></script>
        <script type="text/javascript">
        $(function() {
            $('.lc-lets-roll').on('click', function(e) {
                e.preventDefault();
                $('html, body').animate({
                    scrollTop: $($(this).attr('href')).offset().top
                }, 500);
            });
        });
        </script>
    </head>
    <body>
        <header class="lc-header lc-section lc-section-overlayed">
            <div class="container animated fadeIn">
                <h1 class="lc-header-logo">Let<span class="lc-love">'</span>s Chat</h1>
                <h2 class="lc-header-subheading">Self-hosted chat <br class="visible-xs" /> for small teams.</h2>
                <div class="lc-header-featurette">
                    <img class="img-responsive" src="assets/img/devices.png" />
                </div>
                <a class="btn btn-lc btn-lg lc-lets-roll" href="#getting-started">Let's Roll</a>
                <div class="lc-header-source">
                    <a class="lc-header-source-link" href="https://github.com/sdelements/lets-chat" target="_blank"><i class="fa fa-github"></i> Source Code</a>
                </div>
            </div>
        </header>
        <div class="lc-social">
            <iframe src="https://ghbtns.com/github-btn.html?user=sdelements&repo=lets-chat&type=star&count=true&size=large" frameborder="0" scrolling="0" width="144px" height="30px"></iframe>
            <iframe src="https://ghbtns.com/github-btn.html?user=sdelements&repo=lets-chat&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="144px" height="30px"></iframe>
        </div>
        <section id="what-is-this" class="lc-section lc-section-alt">
            <div class="container">
                <header class="lc-section-header">
                    <h2 class="lc-section-heading">What is this thing?</h2>
                    <h3 class="lc-section-subheading">Some backstory.</h3>
                </header>
                <article class="lc-section-content lc-section-content-epic">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-4">
                            <p>Way back in 2012, we didn't like any of the existing chat services out there. So we decided to write our own. Let's Chat is a side-project of the development team at <a href="http://securitycompass.com/">Security Compass</a>. (A real live 10% time project!)</p>
                            <p>Let<span class="lc-love">'</span>s Chat is a persistent messaging application that runs on Node.js and MongoDB. It's designed to be easily deployable and fits well with small, intimate teams.</p>
                            <p>It's free (MIT licensed) and ships with killer features such as LDAP/Kerberos authentication, a REST-like API and XMPP support.</p>                        </div>
                    </div>
                </article>
            </div>
        </section>
        <section id="features" class="lc-section">
            <div class="container">
                <header class="lc-section-header">
                    <h2 class="lc-section-heading">Features and Stuff</h2>
                    <h3 class="lc-section-subheading">It's dangerous to go alone, take these!</h3>
                </header>
                <ul class="lc-features">
                    {% for feature in site.data.features %}
                        <li class="lc-feature">
                            <div class="lc-feature-box">
                                <i class="lc-feature-icon fa fa-{{ feature.icon }}"></i>
                                <span class="lc-feature-name">{{ feature.name }}</span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section id="getting-started" class="lc-section lc-section-alt">
            <div class="container">
                <header class="lc-section-header">
                    <h2 class="lc-section-heading">Getting Started</h2>
                    <h3 class="lc-section-subheading">In just a few, simple steps...</h3>
                </header>
                <article class="lc-section-content">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-4">
                            <h4>Requirements</h4>
                            <ul>
                                <li><a href="https://github.com/joyent/node/wiki/Installation" target="_blank">Node.js 0.10+</a></li>
                                <li><a href="http://docs.mongodb.org/manual/installation/" target="_blank">MongoDB 2.0+</a></li>
                            </ul>
                            <h4>Installation</h4>
                            <p>Clone the Let's Chat repository, and install dependencies.</p>
<pre>
git clone https://github.com/sdelements/lets-chat.git
cd lets-chat
npm install
</pre>
                            <p><em>Optional &mdash;</em> For custom settings, copy and edit settings.yml.sample:</p>
<pre>
cp settings.yml.sample settings.yml
</pre>
                            <p>Party time at <a href="http://localhost:5000/" target="_blank">http://localhost:5000/</a>!</p>
                            <h4>Got Heroku?</h4>
                            <p>
                                <a href="https://heroku.com/deploy?template=https://github.com/sdelements/lets-chat" target="_blank"><img src="https://www.herokucdn.com/deploy/button.png" alt="Deploy to Heroku" /></a>
                            </p>
                            <h4>Other Platforms</h4>
                            <ul>
                                <li><a href="https://github.com/sdelements/lets-chat/wiki/Docker" target="_blank">Docker</a></li>
                                <li><a href="https://github.com/sdelements/lets-chat/wiki/Vagrant" target="_blank">Vagrant</a></li>
                            </ul>
                            <p>Heads up &mdash; For more detailed instructions, please check out the <a href="https://github.com/sdelements/lets-chat/wiki" target="_blank">wiki</a>.</p>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <footer class="lc-footer lc-section lc-section-overlayed">
            <div class="container">
                <header class="lc-section-header">
                    <h2 class="lc-section-heading">Made in Toronto</h2>
                    <h3 class="lc-section-subheading"><i class="fa fa-heart lc-love" style="margin-right: 5px;"></i> With all the love in the world.</h3>
                </header>
                <ul class="lc-people">
                    {% for person in site.data.people %}
                        <li class="lc-person">
                            <a class="lc-person-box" href="https://github.com/{{ person.github }}" target="_blank">
                                <img class="lc-person-avatar" src="https://www.gravatar.com/avatar/{{ person.gravatar }}?s=100" />
                                <span class="lc-person-name">{{ person.name }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <p class="lc-footer-powered">
                    &copy; 2015 <a href="http://securitycompass.com/sdelements/">SD Elements Inc.</a>
                </p>
            </div>
        </footer>
        <a href="https://github.com/sdelements/lets-chat" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
    </body>
</html>
