/*********************
 * Client Base
 *********************/
 
.lcb-client {
    background: orange;
    .square(100%);
    position: fixed;
    top: 0;
    left: 0;
    .flex-display;
    .flex-direction(column);
}

.lcb-header {
    background: green;
    height: 42px;
    position: relative;
}

.lcb-account-button {
    background: red;
    position: absolute;
    top: 0;
    right: 0;
    img {
        max-height: 100%;
    }
}