/*********************
 * Rooms
 *********************/
 
.lcb-panes {
    background: #222;
    border-top: 1px #444 solid;
    .flex(1);
    .flex-display;
}

.lcb-room {
    .flex(1);
    .flex-display;
}

.lcb-room-sidebar {
    width: 20%;
    min-width: 150px;
    max-width: 230px;
    color: #f2f2f2;
    padding: 10px;
    margin: 10px;
    margin-left: 0;
}

.lcb-room-description {
    margin-top: 10px;
    color: #efefef;
}

.lcb-room-heading {
    margin: 0;
}

.lcb-room-chat {
    margin: 10px;
    .flex(1);
    .flex-display;
    .flex-direction(column);
}

.lcb-messages {
    background: #fff;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    border-radius: 2px 2px 0 0;
    .flex(1);
}

.lcb-entry {
    height: 70px;
    .flex-display;
}

.lcb-entry-input {
    padding: 15px;
    border: none;
    border-top: 1px #eee solid;
    border-radius: 0 0 0 2px;
    .flex(1);
    &:focus {
        outline: none;
    }
}

.lcb-entry-button {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0;
    border-radius: 0 0 2px 0;
}