/*********************
 * Rooms
 *********************/

.lcb-room {
    .flex(1);
    .flex-display;
    margin: 10px;
    border: 1px #111 solid;
    border-radius: 2px;
    @media (max-width: @screen-xs-max) {
        margin: 3px;
    }
}

.lcb-room-header {
    background: #fff;
    padding: 10px;
    border-bottom: 1px #eee solid;
    border-radius: 2px 2px 0 0;
}

.lcb-room-heading {
    line-height: 100%;
    margin: 0;
}

.lcb-room-chat {
    .flex(1);
    .flex-display;
    .flex-direction(column);
}

.lcb-entry {
    height: 70px;
    .flex-display;
    @media (max-width: @screen-xs-max) {
        height: 42px;
    }
}

.lcb-entry-input {
    padding: 15px;
    border: none;
    border-top: 1px #eee solid;
    border-radius: 0 0 0 2px;
    .flex(1);
    &:focus {
        outline: none;
    }
    @media (max-width: @screen-xs-max) {
        padding: 10px;
    }
}

.lcb-entry-button {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0;
    border-radius: 0 0 2px 0;
}

.lcb-room-sidebar {
    background: #222;
    width: 20%;
    min-width: 160px;
    max-width: 240px;
    padding: 5px;
    border: 1px #333 solid;
    border-left: none;
    border-radius: 0 3px 3px 0;
    .flex-display;
    .flex-direction(column);
    @media (max-width: @screen-xs-max) {
        width: 0;
        height: 100%;
        margin: 0;
        border: none;
        position: absolute;
        top: 0;
        right: -200px;
        z-index: 1;
        border-radius: 0;
    }
    @media (max-width: @screen-xs-max) {
        padding: 3px;
    }
}

.lcb-room-sidebar-group {
    margin-bottom: 5px;
    border: 1px #444 solid;
    border-radius: 3px;
    @media (max-width: @screen-xs-max) {
        margin-bottom: 3px;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.lcb-room-sidebar-header {
    background: #222 url('../img/header.png');
    padding: 10px 7px;
    border-radius: 3px 3px 0 0;
}

.lcb-room-sidebar-heading {
    color: #f2f2f2;
    font-size: 14px;
    font-weight: 300;
    line-height: 100%;
    margin: 0;
    .fa {
        margin-right: 4px;
    }
}

.lcb-room-sidebar-list,
.lcb-room-sidebar-item {
    padding: 0;
    margin: 0;
}

.lcb-room-sidebar-list {
    overflow: hidden;
    border-radius: 0 0 3px 3px;
}

.lcb-room-sidebar-item {
    background: #e9e9e9;
    padding: 5px;
    margin: 0;
    border-top: 1px #f2f2f2 solid;
    border-bottom: 1px #ddd solid;
    display: block;
    position: relative;
    .text-overflow;
    &:last-child {
        border-bottom: none;
    }
}

.lcb-room-sidebar-user {
    min-height: 40px;
}

.lcb-room-sidebar-user-name {
    font-size: 12px;
    margin-top: 8px;
    margin-left: 36px;
    display: block;
    .text-overflow;
}

.lcb-room-sidebar-user-avatar {
    .square(30px);
    position: absolute;
    top: 5px;
    left: 5px;
}